/*nav bar*/
.nav-bar{
    display:flex;
    align-items:center;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:500;
    transition:ease-in-out 0.3s;
}
/*sticky nav bar on scroll*/
/*create a class that doesn't exist so you can reference it with javascript*/
/*this won't effect the current style until you scroll*/
.nav-bar.sticky{
    background:var(--white);
    box-shadow:0px 0px 20px rgba(48,63,100,0.2);
}
.nav-bar.sticky .nav-bar-button span, .nav-bar.sticky .coderad {
    color:black;
}
.nav-bar-button{
    position:absolute;
    right:var(--size-20);
    top:var(--size-10);
    border:1px solid transparent;
    background-color: transparent;
}
.nav-bar-button span{
    color:white;
    font-size:var(--size-20);
    cursor:pointer;
    pointer-events:none;
}
[aria-controls='navbar-dropdown']{
    display:none;
}
.coderad{
    margin-right:auto;
    font-size:2rem;
    font-weight:700;
    width:100%;
    transition:ease-in-out 0.3s;
    color:var(--white);
}
ul{
    display:flex;
    
}
.nav-bar-link{
    color:var(--white);
    font-size: 0.8125rem;
    font-weight:600;
    text-transform:capitalize;
    margin-right:2.5rem;
    line-height:1.25rem;
   
}
/*header*/
.background-header,.video-demo{
    background-image:url("../assets/bg-header-1.jpg");
    background-color: var(--font-color-light);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:50% 20%;
    position:relative;
    z-index:1;
    padding:4.687rem;
}
.background-header ::before{
    background-image:linear-gradient(
        30deg, rgba(21,27,38,0.8) 0%,
        rgba(0,0,0,0.2) 100%
    );
    position:absolute;
    content:"";
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index:-1;
    }
    .hero-header{
        color:var(--white);
        padding:0.475rem 1.75rem;
    }
/*why me section*/
.why-me{
   padding:var(--size-150) 0;
}
.why-me-wrapper{
    display:flex;
    align-items:center;
}
.why-me-wrapper div{
    flex:1;
}
.block-text{
    padding-right:var(--size-50);
}
.block-text h2{
    font-size: 2.5rem;
    font-family:'Hind', sans-serif;
    font-weight:500;
    color:var(--font-color-dark);
    margin-bottom:var(--size-20);
    line-height:1.3;
    margin-top:0;
}
span{
    color:var(--font-color-dark);
}
/*cards section*/
.cards,.price-container{
    background-color:var(--contrast);
    margin:0 auto;
}
.cards-container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-row-gap:10px;
    grid-column-gap:10px;
    padding:50px;
}
.service{
    padding:var(--size-30);
    box-shadow: 0px 2px 4px 2px rgba(85,85,85,0.5);
    background-color: #FFF;
    border-radius:8px;
    width:100%;
    max-height:600px;
}
#span-color-1{
    background-image: linear-gradient(90deg,#9ccdfe 0%, #94aafd 100%);
    display:block;
    width:3.125rem;
    height:3.125rem;
    float:left;
    margin-right:1.25rem;
    border-radius:50%;
}
#span-color-2{
    background-image: linear-gradient(90deg,#55edc0 0%, #4bdbdb 100%);
    display:block;
    width:3.125rem;
    height:3.125rem;
    float:left;
    margin-right:1.25rem;
    border-radius:50%;
}
#span-color-3{
    background-image: linear-gradient(90deg,#fda498 0%, #f58b9e 100%);
    display:block;
    width:3.125rem;
    height:3.125rem;
    float:left;
    margin-right:1.25rem;
    border-radius:50%;
}
#span-color-4{
    background-image: linear-gradient(90deg,#f2a7ca 0%, #c2894f 100%);
    display:block;
    width:3.125rem;
    height:3.125rem;
    float:left;
    margin-right:1.25rem;
    border-radius:50%;
}
#span-color-5{
    background-image: linear-gradient(90deg,#ffc187 0%, #fe93a7 100%);
    display:block;
    width:3.125rem;
    height:3.125rem;
    float:left;
    margin-right:1.25rem;
    border-radius:50%;
}
#span-color-6{
    background-image: linear-gradient(90deg,#a1ecff 0%, #7bbcff 100%);
    display:block;
    width:3.125rem;
    height:3.125rem;
    float:left;
    margin-right:1.25rem;
    border-radius:50%;
}
/*video demo section*/
.video-demo{
    background-image:url("../assets/bg-demo.jpg");
    text-align:center;
}
.video-demo{
    color:var(--white);
}
.video-demo h2{
    font-size: 2.5rem;
    font-family:'Hind', sans-serif;
    font-weight:500;
    margin-bottom:var(--size-20);
    line-height:1.3;
    margin-top:0;
}
#play-button{
    width:var(--size-100);
    height:var(--size-100);
    position:absolute;
    z-index:100;
    top:60%;
    left:45%;
    transform:translate(-75% -50%);
    box-shadow:5px 10px 10px 5px rgba(176,196,222,0.7);
    margin-bottom:-6.25rem;
}
#video-thumbnail{
    position:relative;
    max-width:500px;
    border-radius:5px;
}
.video-container{
   margin-bottom:-9.375rem; 
}
/*pricing plans*/
.pricing-header{
    margin:var(--size-150);
}
.pricing-plans{
    margin-top: 10%;
}
.pricing-header h2{
    text-align:center;
    padding-right:0;
}
.pricing-table{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--size-40);
    margin:auto;
    width:1000px;
    
}
.price-card-1,.price-card-3{
    background-color:var(--white);
    border-radius:8px;
    padding:var(--size-20);
    margin-top:var(--size-40);
    height:31.25rem;
 }
 .price-card-2{
    background-color:var(--white);
    border-radius:8px;
    padding:var(--size-20);
    margin-top:-1rem;
    height:40rem;
 }
.price-card-1 ul,.price-card-2 ul,.price-card-3 ul{
    display:flex;
    flex-direction: column;
    text-align:left;
    margin-top:var(--size-20);
    line-height:var(--size-40);
}
.price-card-1 h3,.price-card-2 h3,.price-card-3 h3{
    margin-top:var(--size-40);
    font-size:var(--size-20);
    color:var(--font-color-dark);
    font-weight:700;
}
.price-card-2{
    box-shadow:0px 4px 6px 8px rgba(176,196,222,0.7);
}
.price{
    color:var(--font-color-link);
    font-size:var(--size-30);
    font-weight:700;
    display:block;
}
.price-card-1 h3, .price-card-2 h3,.price-card-3 h3, .price,.billed{
    text-align:center;
}
.icon-checked{
    color:var(--success);
    font-weight:500;
}
.icon,.icon-checked{
    float:right;
}
.card-button-container{
   text-align:center;
   margin-top:var(--size-30);
}
.card-button{
    background-image:linear-gradient(90deg, var(--gradient-1) 0%, var(--gradient-2)100%);
    border:1px solid var(--gradient-1);
    border-radius:30px;
    color:var(--white);
    box-shadow: 0px 2px 4px 2px rgba(236,236,236, 0.6);
    transition:ease-in-out 0.3s;
    padding:0.3125rem;
}
.billed{
    margin-bottom:var(--size-40);
}
/*testimonials*/
.testimonials{
    margin:auto;
    background:white;
}
.testimonial-container h2{
    padding-right:0;
    text-align:center;
    padding-top:var(--size-100);
    padding-bottom:var(--size-100);
    margin-bottom:var(--size-20);
}
.testimonial-container{
    margin:auto;
    width:50rem;
    height:68.75rem;
    margin-top:12.5rem;
    
}
.testimonial-cards{
    display:grid;
    grid-gap:20px;
    grid-template-areas: 
    "card-1 card-2"
    "card-1 card-3";
    margin:auto;
}
.card-1{
    grid-area:card-1;
    border:1px solid #D3D3D3;
    border-radius:8px;
    padding:var(--size-30);
    width:25rem;
    height:50rem;
    margin:auto;
  
}
.card-2{
    grid-area:card-2;
    border:1px solid #D3D3D3;
    border-radius:8px;
    padding:var(--size-30);
    width:25rem;
    height:25rem;
    margin:auto;
    font-size:0.875rem;
}
.card-3{
    grid-area:card-3;
    border:1px solid #D3D3D3;
    border-radius:8px;
    padding:var(--size-30);
    width:25rem;
    height:23.75rem;
    margin:auto;
    font-size: 0.875rem;
}
.top{
    display:flex;
    flex-direction:row;
}
.top h4{
    margin-top:0;
    margin-bottom:var(--size-10);
    font-weight:700;
    font-size:var(--size-20);
}
.profile-picture{
    width:var(--size-100);
    height:var(--size-100);
    border-radius:50%;
    padding:var(--size-10);
}
.profile-text-wrapper h4{
    margin-bottom:var(--size-10);
}
.bottom p{
    line-height: 1.6;
}
.bottom span{
    width:var(--size-100);
    float:right;
}
#quotation-icon{
    width:100%;
    height:var(--size-100);
}
/*footer*/
.footer-container{
 padding-top: var(--size-100);
    background-color:var(--footer);
}
.footer-top{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
    grid-gap:80px;
    width:1000px;
    height:600px;
    margin:auto;
}
.contact-info ul{
    display:block;
    color:var(--white);
}
.fa-solid{
    padding:10px;
    color:var(--white);
}
.blog-1-container,.blog-2-container{
    display:flex;
    flex-direction:row;
    align-content: space-between;
}
.blog-1-text span,.blog-2-text span{
    color:var(--font-color-light);
}
.blog-1-text a,.blog-2-text a,.footer-bottom a{
    color:var(--white);
}
#blog-1,#blog-2{
    width:var(--size-150);
    height:var(--size-100);
    padding:var(--size-10);
}
h5{
    text-align: center;
    color:var(--white);
    font-weight:600;
}
.social-icons a{
    padding:var(--size-10);
    color:var(--white);
    font-size:var(--size-20);
}
.services-wrapper h5{
    text-align: justify;
}
.services-wrapper p{
    color:#858497;
}
.footer-bottom-container{
    background-color:var(--footer-base);
    display:flex;
    justify-content:center;
    color:var(--font-color-light);
}
.footer-bottom-container a{
    padding-left:var(--size-20);
}
#scrollUp {
    color:black;
    font-size:var(--size-50);
    text-align:center;
    background-image:linear-gradient(90deg, #9ccdfe 0%, #94aafd 100%);
    background-color:transparent;
    position:fixed;
    bottom:var(--size-100);
    right:var(--size-30);
    border-radius:0.5rem;
    cursor: pointer;
}
.fa-arrow-up{
    z-index:1000;
    width:5rem;
    height:5rem;
}
